<div class="mt-4">
  <div class="row ">
    <div class="col-md-12">
      <div class="card shadow-sm">
        <div class="card-header bg-dark text-white">
          <h5 class="mb-0">Nuevo Recordatorio</h3>
        </div>
        <div class="card-body">
          <%= simple_form_for reminder, data: { turbo: true } do |f| %>
            <div class="row d-flex align-items-center">
                <div class="form-inputs">
                  <%= f.input :title, label: false, placeholder: 'Titulo' %>
                  <%= f.input :due_date, as: :datetime, placeholder: 'Fecha' , label: false, input_html: {class: 'custom-class', data: {behavior: 'datetime-picker'}} %>
                </div>
            <div class="orm-group d-flex justify-content-end">
              <%= f.button :submit, 'Remind Me', class: 'btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

