<%= turbo_frame_tag "content_frame" do %>
  <div class="card mb-4 shadow-sm"> 
    <div class="card-header bg-success text-white">
      <h5 class="mb-0">Estadisticas</h5> 
    </div>
    <div class="card-body">
      <%= render partial: 'habits/habit_stats', locals: { habits: @habits} %>
    </div>
  </div>
  <div class="card mb-4 shadow-sm"> 
    <div class="card-header bg-success text-white">
      <h5 class="mb-0">Grafica</h5> 
    </div>
    <div class="card-body">
      <%= render partial: 'daily_habits/daily_habits_chart', locals: { daily_habit_chart: @daily_habit_chart} %>
    </div>
  </div>
<% end %>