<%= turbo_frame_tag "content_frame" do %>
  <div class="card mb-4 shadow-sm"> 
    <div class="card-header bg-success text-white">
      <h5 class="mb-0">Estadisticas</h5> 
    </div>
    <div class="card-body">
      <%= render partial: 'habits/habit_stats', locals: { habits: @habits} %>
    </div>
  </div>
  <div class="mb4">
       <%= line_chart User.group_by_day(:created_at).count %>
  </div>
<% end %>