<%= turbo_frame_tag "content_frame" do %>
  <div class="card mb-4 shadow-sm"> 
    <div class="card-header bg-success text-white">
      <h5 class="mb-0">Estadisticas</h5> 
    </div>
    <div class="card-body">
      <%= render partial: 'habits/habit_stats', locals: { habits: @habits} %>
    </div>
  </div>
  <div class="card mb-4 shadow-sm"> 
    <div class="card-header bg-success text-white">
      <h5 class="mb-0">Grafica</h5> 
    </div>
    <div class="card-body">
      <%= column_chart @success_rates_over_time, stacked: true, height: '500px', library: { 
        title: { text: 'Daily Habit Completion Over the Last 30 Days', x: -20 }, 
        yAxis: { title: { text: 'Number of Completions' }}, 
        xAxis: { title: { text: 'Date' }} } %>
    </div>
  </div>
<% end %>