$cool-blue: #92A8D1;
$prussian-blue: #034F84;
$pastel-pink: #F7CAC9;
$pale-grey: #EAEDED;
$wisteria: #6B5B95;
$white: #FFFFFF;
$black: #000000;

$primary: $cool-blue;
$secondary: $prussian-blue;
$success: $wisteria;
$info: $pastel-pink;
$warning: $pale-grey;
$danger: $black;
$light: $white;
$dark: $prussian-blue;

$font-family-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;