.background {
  background-color: $pale-grey;
}

.btn {
  border-radius: 150px;
  border: 2px solid;
}

.card-header {
  background-color: $prussian-blue; // Prussian Blue
  color: white;
  h5 {
    text-transform: capitalize;
    font-weight: bold;
  }
}

.day-btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  background-color: #f0f0f0;
  color: #000; 
  user-select: none;
}

.d-none:checked + .day-btn {
  background-color: $wisteria; 
  color: #fff;
}
