<div class="container mt-4">
  <div class="row ">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header bg-dark text-white">
          <h3 class="mb-0">New Habit</h3>
        </div>
        <div class="card-body">
          <%= simple_form_for habit, data: { turbo: true } do |f| %>
            <div class="row align-items-center">
              <div class="col">
                <%= f.input :name, label: false, input_html: { class: 'form-control', placeholder: 'Habit Name' } %>
              </div>
              <div class="col">
                <%= f.association :habit_type, label: false, include_blank: false, input_html: { class: 'form-select' } %>
              </div>
              <div class="col-auto">
                <%= f.button :submit, class: 'btn btn-success' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
