<li  id="<%= dom_id habit %>" class="list-group-item d-flex justify-content-between align-items-center">
  <span>
    <%= habit.name %>
  </span>
  <span class="d-flex justify-content-between">
    <%= button_to habit.disabled ? "Enable" : "Disable", toggle_availability_habit_path(habit.id), method: :patch, class: "btn btn-outline-secondary" %>
    <%= button_to "Delete", habit, method: :delete, data: { confirm: "Are you sure you want to delete this habit?" }, class: "btn btn-danger ms-2" %>
  </span>
</li>