<%= turbo_frame_tag "habit_list" do %>  
  <% if habits.empty? %>
      <p class="card-text">You have no habits yet. Create one now!</p>
  <% else%>
    <ul id='habit_list' class="list-group list-group-flush">
      <%= render partial: "habits/habit", collection: habits %>
    </ul>
  <%end%>
  </div>
<% end %>
