<li  id="<%= dom_id(habit) %>" class="list-group-item d-flex justify-content-between align-items-center">
    <span>
      <%= habit.name %>
    </span>
    <div class="d-flex justify-content-between">
      <%= button_to habit.disabled ? "Disable" : "Enable", toggle_availability_habit_path(habit.id), method: :patch, class: "btn btn-secondary" %>
      <%= button_to "Delete", habit, method: :delete, data: { confirm: "Are you sure you want to delete this habit?" }, class: "btn btn-danger" %>
    </div>
</li>