<div class="card">
    <div class="card-header bg-dark text-white">
      All Habits
    </div>
    <ul id='habit_list' class="list-group list-group-flush">
      <%= render partial: "habits/habit", collection: habits %>
    </ul>
  </div>
  <%= paginate @habits, window: 0, outer_window: 3 %>
</div>
